torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
transformers
pillow
numpy
requests
opencv-python
tqdm
pynvml
bitsandbytes
accelerate
psutil
pywin32; sys_platform == 'win32'
aiofiles
aiohttp